@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="AppVueBrand" class="row mt-5">
    <div class="col-12 row mt-4">
        <div class="col-xl-10"></div>
        <div class="col-xl-2 col-lg-12"><div v-on:click="AddBrand()" class="btn btn-success">Thêm thương hiệu</div></div>
    </div>
    <div>
        <table class="table" id="tableUser">
            <thead class="bg-gradient-danger text-success">
                <tr>
                    <th>STT</th>
                    <th>Tên thương hiệu</th>
                    <th>LoGo</th>
                    <th>Mô tả</th>
                    <th>Người tạo</th>
                    <th>Ngày tạo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Brand)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.BrandName</td>
                        <td><img src="@item.BrandImgLogo" width="300" height="200"/></td>
                        <td>@item.BrandDescription</td>
                        <td>@item.CreatedBy</td>
                        <td>@item.CreatedDate</td>
                        <td><button class="btn btn-warning" type="button">Sửa</button><button class="btn btn-warning" type="button">Xóa</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    var AppVueBrand = new Vue({
        el: "#AppVueBrand",
        mounted() {

        },
        data: {
            ListUser: []
        },
        computed: {

        },
        methods: {
            AddBrand(){
                $("#BigModalDiv").load(`/Admin/BrandAndCategory/AddEditBrand`, function () {
                    $("#BigModal").modal("show");
                    $("#titleBigModal").html("Thêm thương hiệu mới")
                })
            }
        }
    });

    function Save(){
        alert(1)
    }
</script>