@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model WebApp.Models.ConfigShop;

@Model.LoGo,
@Model.PhoneNumber,
@Model.Mail,
@Model.Address,
@Model.TimeOnline,
@Model.ImgSlie1,
@Model.ImgSlie2,
@Model.ImgSlie3,
@Model.LinkChatFaceBook,
@Model.TitileWeb,
@Model.BannerRight1,
@Model.BannerRight2,
@Model.BannerRight3,
@Model.BannerButton1,
@Model.BannerButton2,
@Model.BannerButton3

<div class="container mt-4 bg-danger">
    <div class="row-border">
        
    </div>
</div>
